<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3'
import { reactive } from 'vue'
import { useLevelPropsEdit } from '@/Composables/level-data'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButtonSave from '@/Components/BButtonSave.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaFieldHorizontal from '@/Components/BFieldHorizontal.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaTextArea from '@/Components/BTextArea.vue'

const props = defineProps({
  errors: Object,
  gender: Object,
})

const form = useForm({
  name: props.gender.name,
  about: props.gender.about,
})

const submit = () => {
  form.put(route('marital_statuses.update', props.gender.id), form)
}
</script>

<template>
  <Head title="Nuevo Estado Civil" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsEdit('Marital_Statuses'))" />
    </template>

    <Transition appear mode="out-in">
      <form class="mt-6" novalidate @submit.prevent="submit">
        <BulmaFieldHorizontal label="Nombre" id="name">
          <BulmaField>
            <BulmaInput
              id="name"
              v-model="form.name"
              :error="errors.name"
              expanded
              required
              autocomplete="name"
              placeholder="Ejemplo: Casada(o)"
            />
            <BulmaHelpError :message="errors.name" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal label="Descripción" id="name">
          <BulmaField>
            <BulmaTextArea
              id="about"
              v-model="form.about"
              :error="errors.about"
              placeholder="Breve definición/descripción."
            />
            <BulmaHelpError :message="errors.about" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaButtonSave :loading="form.processing" />
          </BulmaField>
        </BulmaFieldHorizontal>
      </form>
    </Transition>
  </BulmaAuthenticatedLayout>
</template>
