<script setup>
import { computed, ref  } from 'vue'
import { Inertia } from '@inertiajs/inertia'
import { useDTlocale } from '@/Composables/date-to-locale'
import { usePage } from '@inertiajs/inertia-vue3'

const isActive = ref(true)
const marital_status = computed(() => usePage().props.value.flash.modal)

const createdAtLocale = computed(() => {
  const { dtLocale } = useDTlocale(marital_status.value.created_at)

  return dtLocale.value
})

const updatedAtLocale = computed(() => {
  const { dtLocale } = useDTlocale(marital_status.value.updated_at)

  return dtLocale.value
})

const deletedAtLocale = computed(() => {
  const { dtLocale } = useDTlocale(marital_status.value.deleted_at)

  return dtLocale.value
})

const goToEdit = () => Inertia.get(`marital_statuses/${marital_status.value.id}/edit`)
</script>

<template>
  <Transition appear name="modal">
    <div v-if="$page.props.flash.modal && isActive" class="modal is-active">
      <div class="modal-background" />
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            Ver Estado Civil
          </p>
          <button
            class="delete"
            aria-label="close"
            @click="isActive = false"
          />
        </header>
        <section class="modal-card-body">
          <div class="container">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="marital_status.name"
                      readonly
                    >
                    <span class="icon is-small is-left">
                      <i class="fas fa-heart" />
                    </span>
                  </p>
                  <p class="help is-primary">
                    Nombre
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <textarea
                      v-model="marital_status.about"
                      class="textarea is-static"
                      readonly
                    />
                  </p>
                  <p class="help is-primary">
                    Descripción
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="`${createdAtLocale} (${marital_status.diff_created_at})`"
                      readonly
                    >
                    <span class="icon is-small is-left">
                      <i class="fas fa-clock" />
                    </span>
                  </p>
                  <p class="help is-primary">
                    Creado el
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="`${updatedAtLocale} (${marital_status.diff_updated_at})`"
                      readonly
                    >
                    <span class="icon is-small is-left">
                      <i class="fas fa-clock" />
                    </span>
                  </p>
                  <p class="help is-primary">
                    Modificado el
                  </p>
                </div>
                <div v-if="marital_status.deleted_at" class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="`${deletedAtLocale} (${marital_status.diff_deleted_at})`"
                      readonly
                    >
                    <span class="icon is-small is-left">
                      <i class="fas fa-clock" />
                    </span>
                  </p>
                  <p class="help is-primary">
                    Eliminado al
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button
            class="button is-success is-outlined is-rounded"
            @click="goToEdit"
          >
            <span class="icon">
              <i class="fas fa-pen" />
            </span>
            <span>Modificar</span>
          </button>
          <button class="button is-outlined is-rounded" @click="isActive = false">
            <span class="icon">
              <i class="fas fa-times" />
            </span>
            <span>Cerrar</span>
          </button>
        </footer>
      </div>
    </div>
  </Transition>
</template>
