@charset "utf-8";

/* be-vietnam-pro-regular - latin */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/be-vietnam-pro-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/be-vietnam-pro-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-italic - latin */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/be-vietnam-pro-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/be-vietnam-pro-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-600 - latin */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/be-vietnam-pro-v8-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/be-vietnam-pro-v8-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-600italic - latin */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('../fonts/be-vietnam-pro-v8-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/be-vietnam-pro-v8-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-800 - latin */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/be-vietnam-pro-v8-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/be-vietnam-pro-v8-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* be-vietnam-pro-800italic - latin */
@font-face {
  font-family: 'Be Vietnam Pro';
  font-style: italic;
  font-weight: 800;
  src: local(''),
       url('../fonts/be-vietnam-pro-v8-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/be-vietnam-pro-v8-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$family-sans-serif: "Be Vietnam Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$modal-content-width: 1200px;
$tabs-link-color: hsl(0, 0%, 29%);

// Bulma Dracula and extensions
@import "bulma-dracula/src/bulma-dracula.scss";
@import "bulma-switch/src/sass/index.sass";

// Font Awesome
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";

$theme: #44475a;
$selected: #6272a4;
$text: #f8f8f2;

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

// Animate CSS --start
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.modal-background {
  transition: opacity 0.3s ease;
}

.modal-content,
.modal-card,
.modal-enter-active,
.modal-leave-active {
  transition: all 0.3s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-content,
.modal-leave-to .modal-content,
.modal-enter-from .modal-card,
.modal-leave-to .modal-card {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

.heartBeat {
  animation-name: heartBeat;
  animation-duration: calc(var(--animate-duration) * 1.3);
  animation-timing-function: ease-in-out;
}
// Animate CSS --end

// Nav bar menu
.navbar-menu {
	// background-color: $theme;
	// on mobile only
	@media (max-width: 1023px) {
		padding: 2px 0 0 0;

		.navbar-link{
			display: flex;
		}

		.navbar-dropdown{
			.navbar-item {
				padding-left: 1.125em;
				padding-right: 1.125em;
			}
		}
	}
}

.navbar-menu .nav-tag {
  position: relative;

  .icon {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $background;
    border-radius: 50%;
  }

  .counter {
    border-radius: 50%;
    position: absolute;
    top: 5px;

    @media (min-width: 1024px) {
			right: 0px;
		}

		// on mobile only
		@media (max-width: 1023px) {
			left: 42px;
		}

    @media (max-width: 768px) {
      margin-left: -2px;
    }
  }
}

.hero {
  background-color: $theme;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 20;
}

.navbar {
  background: $theme;

  &-item {
    background-color: $theme;
    color: $text !important;

    &:not(.nav-tag).is-active {
      background-color: $selected !important;
      color: $text !important;
    }

    &:not(.nav-tag):hover {
      background-color: $selected !important;
      color: $text !important;
    }

    &.nav-tag.is-active {
      background-color: $theme !important;
      color: $primary !important;
    }

    &.nav-tag:hover {
      background-color: $theme !important;
      color: $primary !important;
    }
  }

  .is--brand {
    &:hover {
      background-color: $theme !important;
    }
  }

  &-brand-logo {
    max-height: 3rem !important;
    background-color: $theme;
    border-radius: .25em;
    padding: .25em;
  }

  &-dropdown {
    background-color: $theme;

    .navbar-item {
      background-color: $theme;
    }
  }

  &-burger {
    background-color: $theme !important;
    border: 0;

    span {
      height: 2px;
      width: 22px;
      background-color: $primary;
    }
  }

  &-link {
    color: $text;

    figure {
      img {
        border-radius: 50%;
        max-height: 2em;
      }
    }

    &:hover {
      background-color: $theme;
    }
  }
}

.message.is-dark {
  .message-body {
    background-color: lighten($theme, 5%);
  }
}

.breadcrumb {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.icon-title {
  margin-right: .5em;
  height: 3rem !important;
  width: 3rem !important;
  background-color: $primary;
  color: $background;
  border-radius: .25rem;
}

@media screen and (min-width: 1088px) {

  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: $theme;
  }

}

// navigation left area
.aside {
	background: $theme;
	padding: 2em .5em 0 .5em;
  height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.2s width ease-out;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 2;
	width: 250px;

  #sidebar-toggler {
    width: 250px;
    cursor: pointer;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #bd93f9;
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-end;

    .icon {
      transition: 0.3s linear transform;
    }

	}

  a {
    color: $text;
  }

  .menu-list {
    li {
      margin-top: .5em;

    }

    .has-children {
      max-height: 36px;
      overflow: hidden;
      transition: 0.6s max-height ease-out;
      position: relative;

      >a {
        position: relative;
      }

      >a::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f107";
        transition: .2s ease-out transform;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-45%);
        transform-origin: center;
        transition-duration: 0.3s;
      }
    }

    .has-children.open {
      max-height: 1000px;

      >a::before {
        transform: rotate(-180deg) translateY(40%);
      }
    }

    .icon,
    i {
      margin-right: 10px;
      margin-left: 5px;
    }
  }

  &.closed {
    width: 60px;

    .menu-label,
    .menu-text {
      display: none;
    }

    .has-children {
      >a::before {
        opacity: 0;
      }
    }

    #sidebar-toggler {
      justify-content: center;
      width: 60px;

      .icon {
        transform: rotate(180deg);
        margin-right: 8px;
      }
    }

	}

	// on mobile only
	@media (max-width: 768px) {
		width: 60px;
		overflow: auto;

		#sidebar-toggler {
			display: none;
		}

		&:not(:hover){
			.menu-label,
			.menu-text {
				display: none;
			}
			.menu-list {
				.has-children {
					max-height: 36px;

					>a::before {
						opacity: 0;
					}
				}
			}
		}

		&:hover{
			width: 250px;
		}
	}
}

// main area
.main {
  padding: 70px 1em 2em 260px;
	min-height: calc(100vh - 64px);
  transition: 0.2s all ease-out;

  &.sidebar--closed {
    padding: 70px 1em 2em 70px;
	}

	// on mobile only
	@media (max-width: 768px) {
		padding: 70px 1em 2em 70px;
	}
}

.menu-label {
  color: $primary;
  margin-left: .5em;
  font-weight: bold;
}

.block {
  margin-top: .5em;
}

.menu{
	position: relative;
  margin-bottom: 60px;

	// on mobile only
	@media (max-width: 768px) {
		padding-bottom: 70px;
	}

	// ads on sidebar
	.ads-square {
		width: 100%;
		min-width: 250px;
		min-height: 159px;
		margin-top: 2em;
		position: absolute;
		left: 0;
	}
}

// ads on the footer
.ads-horizontal {
	width: 100%;
	height: 100px;
	margin-bottom: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Form
.field-label {
  text-align: left;
}

.copyright {
  background: $theme;
  width: 100%;
  position: fixed;
  bottom: 0;
	left: 250px;
	padding: 15.5px 10px;
	z-index: 20;
	font-size: .7rem;
  transition: 0.2s all ease-out;

	// on mobile only
	@media (max-width: 768px) {
    left: 0;
	}

  &.sidebar--closed {
    left: 60px;
  }
}

