<script setup>
import { Inertia } from '@inertiajs/inertia'

const props = defineProps({
  show: Boolean,
  user: Object,
})

const emit = defineEmits(['close'])

const destroy = () => {
  Inertia.delete(`users/${props.user.id}`, {
    onFinish: () => emit('close'),
  })
}
</script>

<template>
  <Transition name="modal">
    <div v-if="show" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img :src="user.avatar" alt="Imagen del Usuario" />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4 has-text-black">
                  {{ user.person.names + " " + user.person.surnames }}
                </p>
                <p class="subtitle is-6 has-text-black">{{ user.email }}</p>
                <div
                  v-for="(role, index) in user.roles || []"
                  :key="index"
                  class="tags"
                >
                  <span
                    class="tag is-light"
                    :class="{
                      'is-primary': role.id === 1,
                      'is-success': role.id === 2,
                    }"
                    >{{ role.name }}</span
                  >
                </div>
              </div>
            </div>

            <div class="content">
              Será eliminado y no podrá volver a ingresar al sistema. Por favor,
              confirmar.
            </div>
            <footer class="card-footer">
              <a
                href="#"
                class="card-footer-item button is-danger is-rounded"
                @click="destroy"
              >
                <span class="icon">
                  <i class="fas fa-trash"></i>
                </span>
                <span>Eliminar</span>
              </a>
              <a
                href="#"
                class="card-footer-item button is-dark is-rounded"
                @click="$emit('close')"
              >
                <span class="icon">
                  <i class="fas fa-times"></i>
                </span>
                <span>Cerrar</span>
              </a>
            </footer>
          </div>
        </div>
      </div>
      <button
        class="modal-close is-large"
        aria-label="close"
        @click="$emit('close')"
      ></button>
    </div>
  </Transition>
</template>
