<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3'
import { reactive, toRefs } from 'vue'
import { useCities, useMunicipalities, useParishes } from '@/Composables/api-venezuela'
import { useLevelPropsEdit } from '@/Composables/level-data'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButtonSave from '@/Components/BButtonSave.vue'
import BulmaButtonStatic from '@/Components/BButtonStatic.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaFieldHorizontal from '@/Components/BFieldHorizontal.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaSelect from '@/Components/BSelect.vue'
import BulmaSelectDual from '@/Components/BSelectDual.vue'
import BulmaTextArea from '@/Components/BTextArea.vue'

const props = defineProps({
  errors: Object,
  roles: Object,
  genders: Object,
  maritalStatuses: Object,
  states: Object,
  municipalities: Object,
  parishes: Object,
  cities: Object,
  years: Object,
  months: Object,
  days: Object,
  user: Object,
  availablePermissions: Object,
})

const birthDate = (data) => {
  if (data.birth_year && data.birth_month && data.birth_day) {
    return `${data.birth_year}-${data.birth_month}-${data.birth_day}`
  }
  return null
}

const birthYear = () => {
  if (props.user.person.birth_date)
  {
    let year = props.user.person.birth_date

    return year.slice(0, -6)
  }

  return null
}

const birthMonth = () => {
  if (props.user.person.birth_date)
  {
    let year = props.user.person.birth_date

    return year.slice(5, -3)
  }

  return null
}

const birthDay = () => {
  if (props.user.person.birth_date)
  {
    let year = props.user.person.birth_date

    return year.slice(-2)
  }

  return null
}

const userState = () => {
  if (props.user.person.ve_city)
  {
    return props.user.person.ve_city.ve_state_id
  }
  else if (props.user.person.ve_parish_id)
  {
    return props.user.person.ve_parish.ve_municipality.ve_state_id
  }
}

const userMunicipality = () => (
  props.user.person.ve_parish_id ? props.user.person.ve_parish.ve_municipality_id : null
)

const userParish = () => (
  props.user.person.ve_parish_id ? props.user.person.ve_parish_id : null
)

const userCity = () => (
  props.user.person.ve_city_id ? props.user.person.ve_city_id : null
)

const form = useForm({
  email: props.user.email,
  role_id: props.user.roles[0].id,
  names: props.user.person.names,
  surnames: props.user.person.surnames,
  nationality: props.user.person.nationality,
  id_national: props.user.person.id_national,
  birth_year: birthYear(),
  birth_month: birthMonth(),
  birth_day: birthDay(),
  gender_id: props.user.person.gender_id,
  marital_status_id: props.user.person.marital_status_id,
  ve_state_id: userState(),
  ve_municipality_id: userMunicipality(),
  ve_parish_id: userParish(),
  ve_city_id: userCity(),
  postal_code: props.user.person.postal_code,
  address: props.user.person.address,
  right_permissions: props.user.permissions,
})

const left_permissions = reactive(props.availablePermissions)

const country = reactive({
  municipalities: props.municipalities,
  parishes: props.parishes,
  cities: props.cities,
})

const { municipalities, parishes, cities } = toRefs(country)

const apiResult = reactive({
  citiesError: null,
  citiesLoading: null,
  municipalitiesError: null,
  municipalitiesLoading: null,
  parishesError: null,
  parishesLoading: null,
})
const {
  citiesError,
  citiesLoading,
  municipalitiesError,
  municipalitiesLoading,
  parishesError,
  parishesLoading,
} = toRefs(apiResult)

const updateMunicipalities = () => {
  const { data, error, loading } = useMunicipalities(form.ve_state_id)

  country.municipalities = data
  apiResult.municipalitiesError = error
  apiResult.municipalitiesLoading = loading
}

const updateParishes = () => {
  const { data, error, loading } = useParishes(form.ve_municipality_id)

  country.parishes = data
  apiResult.parishesError = error
  apiResult.parishesLoading = loading
}

const updateCities = () => {
  const { data, error, loading } = useCities(form.ve_state_id)

  country.cities = data
  apiResult.citiesError = error
  apiResult.citiesLoading = loading
}

const submit = () => {
  form
    .transform((data) => ({
      ...data,
      birth_date: birthDate(data),
    }))
    .put(route('users.update', props.user.id), form)
}
</script>

<template>
  <Head title="Modificar Usuario" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsEdit('Users'))" />
    </template>

    <Transition appear mode="out-in">
      <form class="mt-6" novalidate @submit.prevent="submit">
        <!-- DATOS DE USUARIO -->
        <BulmaFieldHorizontal label="Datos de Usuario" id="email">
          <BulmaField>
            <BulmaInput
              id="email"
              v-model="form.email"
              :error="errors.email"
              type="email"
              expanded
              required
              autofocus
              autocomplete="username"
              placeholder="Correo Electrónico"
              icon-left="fa-solid fa-at"
            />
            <BulmaHelpError :message="errors.email" />
          </BulmaField>
          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic text="Rol" icon-left="fa-solid fa-user-tag" />
              <BulmaSelect
                id="role_id"
                v-model="form.role_id"
                :error="errors.role_id"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="role in roles || []"
                  :key="role.id"
                  :value="role.id"
                >
                  {{ role.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
            <BulmaHelpError :message="errors.role_id" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <hr />

        <!-- DATOS PERSONALES -->
        <BulmaFieldHorizontal label="Datos Personales" id="name">
          <BulmaField>
            <BulmaInput
              id="names"
              v-model="form.names"
              :error="errors.names"
              expanded
              autocomplete="given-name"
              placeholder="Nombres"
            />
            <BulmaHelpError :message="errors.names" />
          </BulmaField>
          <BulmaField>
            <BulmaInput
              id="surnames"
              v-model="form.surnames"
              :error="errors.surnames"
              expanded
              autocomplete="family-name"
              placeholder="Apellidos"
            />
            <BulmaHelpError :message="errors.surnames" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <!-- Cédula de Identidad -->
        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaField addons>
              <BulmaSelect
                id="nationality"
                v-model="form.nationality"
                :error="errors.nationality"
              >
                <!--<option :value="null" disabled>Seleccione</option>--->
                <option value="V">V</option>
                <option value="E">E</option>
              </BulmaSelect>
              <BulmaInput
                id="id_national"
                v-model="form.id_national"
                :error="errors.id_national"
                expanded
                required
                placeholder="Número de Cédula de Identidad"
                icon-left="fa-solid fa-id-card"
              />
            </BulmaField>
            <BulmaHelpError :message="errors.id_national" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <hr />

        <!-- OTROS DATOS PERSONALES -->
        <BulmaFieldHorizontal label="Otros Datos Personales">
          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-birthday-cake"
                text="Año de Nacimiento"
              />
              <BulmaSelect
                id="birth_year"
                v-model="form.birth_year"
                :error="errors.birth_date"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="(year, index) in years || []"
                  :key="index"
                  :value="year"
                >
                  {{ year }}
                </option>
              </BulmaSelect>
            </BulmaField>
          </BulmaField>

          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-birthday-cake"
                text="Mes de Nacimiento"
              />
              <BulmaSelect
                id="birth_month"
                v-model="form.birth_month"
                :error="errors.birth_date"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="(month, index) in months || []"
                  :key="index"
                  :value="month.num"
                >
                  {{ month.str }}
                </option>
              </BulmaSelect>
            </BulmaField>
          </BulmaField>

          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-birthday-cake"
                text="Día de Nacimiento"
              />
              <BulmaSelect
                id="birth_day"
                v-model="form.birth_day"
                :error="errors.birth_date"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="(day, index) in days || []"
                  :key="index"
                  :value="day"
                >
                  {{ day }}
                </option>
              </BulmaSelect>
            </BulmaField>
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal v-if="errors.birth_date">
          <BulmaField>
            <BulmaHelpError :message="errors.birth_date" class="has-text-centered" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <!-- Género Social y Estado Civil -->
        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-transgender"
                text="Género Social"
              />
              <BulmaSelect
                id="gender_id"
                v-model="form.gender_id"
                :error="errors.gender_id"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="gender in genders || []"
                  :key="gender.id"
                  :value="gender.id"
                >
                  {{ gender.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
            <BulmaHelpError :message="errors.gender_id" />
          </BulmaField>

          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic icon-left="fa-solid fa-heart" text="Estado Civil" />
              <BulmaSelect
                id="marital_status_id"
                v-model="form.marital_status_id"
                :error="errors.marital_status_id"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="maritalStatus in maritalStatuses || []"
                  :key="maritalStatus.id"
                  :value="maritalStatus.id"
                >
                  {{ maritalStatus.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
            <BulmaHelpError :message="errors.marital_status_id" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <hr />

        <!-- UBICACIÓN GEOESPACIAL -->
        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-map-marker-alt"
                text="Estado"
              />
              <BulmaSelect
                id="ve_state_id"
                v-model="form.ve_state_id"
                :error="errors.ve_state_id"
                expanded
                fullwidth
                @change="updateMunicipalities(), updateCities()"
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="state in states || []"
                  :key="state.id"
                  :value="state.id"
                >
                  {{ state.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
          </BulmaField>

          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-map-marker-alt"
                text="Municipio"
              />
              <BulmaSelect
                id="ve_municipality_id"
                v-model="form.ve_municipality_id"
                :error="errors.ve_municipality_id"
                :error-api="apiResult.municipalitiesError"
                :loading="apiResult.municipalitiesLoading"
                expanded
                fullwidth
                @change="updateParishes"
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="municipality in municipalities || []"
                  :key="municipality.id"
                  :value="municipality.id"
                >
                  {{ municipality.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
            <BulmaHelpError :message="errors.ve_municipality_id" />
            <BulmaHelpError
              v-if="apiResult.municipalitiesError"
              message="Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente más tarde"
            />
          </BulmaField>

          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic
                icon-left="fa-solid fa-map-marker-alt"
                text="Parroquia"
              />
              <BulmaSelect
                id="ve_parish_id"
                v-model="form.ve_parish_id"
                :error="errors.ve_parish_id"
                :error-api="apiResult.parishesError"
                :loading="apiResult.parishesLoading"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="parish in parishes || []"
                  :key="parish.id"
                  :value="parish.id"
                >
                  {{ parish.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
            <BulmaHelpError :message="errors.ve_parish_id" />
            <BulmaHelpError
              v-if="apiResult.parishesError"
              message="Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente más tarde"
            />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaField addons>
              <BulmaButtonStatic icon="fa-solid fa-map-marker-alt" text="Ciudad" />
              <BulmaSelect
                id="ve_city_id"
                v-model="form.ve_city_id"
                :error="errors.ve_city_id"
                :error-api="apiResult.citiesError"
                :is-loading="apiResult.citiesLoading"
                expanded
                fullwidth
              >
                <option :value="null" disabled>Selecione</option>
                <option
                  v-for="city in cities || []"
                  :key="city.id"
                  :value="city.id"
                >
                  {{ city.name }}
                </option>
              </BulmaSelect>
            </BulmaField>
            <BulmaHelpError :message="errors.ve_city_id" />
            <BulmaHelpError
              v-if="apiResult.citiesError"
              message="Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente más tarde"
            />
          </BulmaField>

          <BulmaField>
            <BulmaInput
              id="postal_code"
              v-model="form.postal_code"
              :error="errors.postal_code"
              type="text"
              expanded
              placeholder="Código Postal"
              icon-left="fa-solid fa-mail-bulk"
            />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaTextArea
              id="address"
              v-model="form.address"
              :error="errors.address"
              placeholder="Urbanización, Barrio, Conjunto Residencial, Calle, Avenida, Casa, Piso..."
            />
          </BulmaField>
        </BulmaFieldHorizontal>

        <hr />

        <!-- PERMISOS -->
        <BulmaFieldHorizontal label="Permisos">
          <BulmaSelectDual
            left-label="Disponibles"
            right-label="Seleccionados"
            :left-data="left_permissions"
            :right-data="form.right_permissions"
          />
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaButtonSave :loading="form.processing" />
          </BulmaField>
        </BulmaFieldHorizontal>
      </form>
    </Transition>
  </BulmaAuthenticatedLayout>
</template>
