<script setup>
import { Head } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'
import { reactive, ref  } from 'vue'
import { useLevelPropsIndex, useLevelPropsSearch } from '@/Composables/level-data'
import { usePaginationData } from '@/Composables/pagination'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaLevelSearch from '@/Components/BLevelSearch.vue'
import BulmaPagination from '@/Components/BPagination.vue'
import ModalDestroy from './Destroy.vue'
import ModalDetail from './Show.vue'

defineProps({
  errors: Object,
  filters: Object,
  users: Object,
  roles: Object,
})

const dataToDestroy = ref()
const showDestroyModal = ref(false)
const showDetails = (user) => Inertia.get(`users/${user}`)
const goToEdit = (user) => Inertia.get(`users/${user}/edit`)
</script>

<template>
  <Head title="Usuarios" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsIndex('Users'))" />
    </template>

    <BulmaLevelSearch
      :filters="filters"
      v-bind="reactive(useLevelPropsSearch(users))"
      route-create="users.create"
      route-index="users.index"
    />

    <div class="table-container">
      <Transition appear mode="out-in">
        <table class="table is-fullwidth is-hoverable is-striped">
          <thead>
            <tr>
              <th>Correo-E</th>
              <th>Apellidos</th>
              <th>Nombres</th>
              <th>Rol(es)</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(user, index) in users.data || []" :key="index">
              <td>
                <a href="#" @click="showDetails(user.id)">{{ user.email }}</a>
              </td>
              <td>
                {{ user.person.surnames }}
              </td>
              <td>
                {{ user.person.names }}
              </td>
              <td v-for="(role, indexx) in user.roles || []" :key="indexx">
                <div class="tags">
                  <span
                    class="tag is-light"
                    :class="{
                      'is-primary': role.id === 1,
                      'is-success': role.id === 2,
                    }"
                    >{{ role.name }}</span
                  >
                </div>
              </td>
              <td>
                <div class="buttons has-addons is-centered">
                  <BulmaButton
                    icon-left="fas fa-eye"
                    size="is-small"
                    @click="showDetails(user.id)"
                  />
                  <BulmaButton
                    icon-left="fas fa-pen"
                    size="is-small"
                    @click="goToEdit(user.id)"
                  />
                  <BulmaButton
                    icon-left="fas fa-trash"
                    size="is-small"
                    @click="(dataToDestroy = user), (showDestroyModal = true)"
                  />
                </div>
              </td>
            </tr>

            <tr v-if="users.data.length === 0">
              <td class="has-text-centered" colspan="5">No existen registros.</td>
            </tr>
          </tbody>
        </table>
      </Transition>
    </div>
    <BulmaPagination v-bind="reactive(usePaginationData(users))" />

    <Teleport to="body">
      <ModalDetail />
    </Teleport>

    <Teleport to="body">
      <ModalDestroy
        :user="dataToDestroy"
        :show="showDestroyModal"
        @close="showDestroyModal = false"
      />
    </Teleport>
  </BulmaAuthenticatedLayout>
</template>
