<script setup>
import { computed, ref  } from 'vue'
import { DateTime } from 'luxon'
import { Inertia } from '@inertiajs/inertia'
import { usePage } from '@inertiajs/inertia-vue3'

const isActive = ref(true)
const isContentBasicActive = ref(true)
const isContentExtendedActive = ref(false)
const isTabBasicActive = ref(true)
const isTabExtendedActive = ref(false)
const user = computed(() => usePage().props.value.flash.modal)

const userRoles = computed(() => user.value.roles )

const userAddress = computed(() => {
  let address = ''

  if (user.value.person.address)
  {
    if (user.value.person.address.endsWith('.'))
    {
      address += `${user.value.person.address} `
    }
    else
    {
      address += `${user.value.person.address}. `
    }
  }

  if (user.value.person.ve_parish)
  {
    address += `Parroquia: ${user.value.person.ve_parish.name}. Municipio: ${user.value.person.ve_parish.ve_municipality.name}.`
  }

  if (user.value.person.ve_city)
  {
    address += `Ciudad: ${user.value.person.ve_city.name}. Estado: ${user.value.person.ve_parish.ve_municipality.ve_state.name}.`
  }

  return address
})

const userFullName = computed(() => `${user.value.person.names} ${user.value.person.surnames}`)

const userID = computed(() => `${user.value.person.nationality}-${user.value.person.id_national}`)

const userBirthDate = computed(() => {
  if (user.value.person.birth_date)
  {
    return DateTime
            .fromSQL(user.value.person.birth_date)
            .toLocaleString()
  }

  return "-"
})

const contentVisibilityBasic = computed(() => (
  isContentBasicActive.value ? 'is-block' : 'is-hidden'
))

const contentVisibilityExtended = computed(() => (
  isContentExtendedActive.value ? 'is-block' : 'is-hidden'
))

const handleTabs = (tab) => {
  if (tab === "basic")
  {
    isContentBasicActive.value = true
    isContentExtendedActive.value = false
    isTabBasicActive.value = true
    isTabExtendedActive.value = false
  }
  else
  {
    isContentBasicActive.value = false
    isContentExtendedActive.value = true
    isTabBasicActive.value = false
    isTabExtendedActive.value = true
  }
}

const goToEdit = () => Inertia.get(`users/${user.value.id}/edit`)
</script>

<template>
  <Transition appear name="modal">
    <div v-if="$page.props.flash.modal && isActive" class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Ver Usuario</p>
          <button
            class="delete"
            aria-label="close"
            @click="isActive = false"
          ></button>
        </header>
        <section class="modal-card-body">
          <div class="tabs is-centered is-boxed">
            <ul>
              <li
                :class="{ 'is-active': isTabBasicActive }"
                data-target="tabContentBasic"
                @click="handleTabs('basic')"
              >
                <a>
                  <span class="icon is-small"
                    ><i class="fas fa-user-circle" aria-hidden="true"></i
                  ></span>
                  <span>Perfil Básico</span>
                </a>
              </li>
              <li
                :class="{ 'is-active': isTabExtendedActive }"
                data-target="tabContentExtended"
                @click="handleTabs('extended')"
              >
                <a>
                  <span class="icon is-small"
                    ><i class="fas fa-info" aria-hidden="true"></i
                  ></span>
                  <span>Perfil Extendido</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="container" :class="contentVisibilityBasic">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img :src="user.avatar" alt="Imagen del Usuario" />
                </figure>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="user.email"
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-at"></i>
                    </span>
                  </p>
                </div>
                <div class="field is-grouped">
                  <p
                    class="control is-expanded has-icons-left"
                    v-for="(userRole, index) in userRoles || []" :key="index"
                  >
                    <input
                      class="input is-static"
                      type="text"
                      :value="userRole.name"
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user-tag"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="userFullName"
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user-alt"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="userID"
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-id-card"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="container" :class="contentVisibilityExtended">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="userBirthDate"
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-birthday-cake"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="user.person.gender ? user.person.gender.name : '-'"
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-transgender-alt"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input
                      class="input is-static"
                      type="text"
                      :value="
                        user.person.marital_status
                          ? user.person.marital_status.name
                          : '-'
                      "
                      readonly
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-heart"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label">
                    <span class="icon is-small is-left has-text-grey-dark">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                  </label>
                  <p class="control is-expanded has-icons-left">
                    <textarea
                      v-model="userAddress"
                      class="textarea is-static"
                      readonly
                    />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success is-outlined is-rounded" @click="goToEdit">
            <span class="icon">
              <i class="fas fa-pen"></i>
            </span>
            <span>Modificar</span>
          </button>
          <button class="button is-outlined is-rounded" @click="isActive = false">
            <span class="icon">
              <i class="fas fa-times"></i>
            </span>
            <span>Cerrar</span>
          </button>
        </footer>
      </div>
    </div>
  </Transition>
</template>
