<script setup>
import { Head, Link } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'
import { reactive  } from 'vue'
import { useLevelPropsIndex, useLevelPropsSearch } from '@/Composables/level-data'
import { usePaginationData } from '@/Composables/pagination'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaLevelSearch from '@/Components/BLevelSearch.vue'
import BulmaPagination from '@/Components/BPagination.vue'
import ModalDetail from './Show'

defineProps({
  errors: Object,
  filters: Object,
  permissions: Object,
})

const showDetails = (permission) => Inertia.get(`permissions/${permission}`)
</script>

<template>
  <Head title="Permisos" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsIndex('Permissions'))" />
    </template>

    <BulmaLevelSearch
      :filters="filters"
      v-bind="reactive(useLevelPropsSearch(permissions))"
      route-index="permissions.index"
    >
      <div class="level-item">
        <div class="field">
          <p class="control">
            <Link
              method="post"
              as="button"
              :href="route('permissions.refresh')"
              class="button is-rounded is-success is-outlined"
            >
              <span class="icon is-small">
                <i class="fas fa-sync-alt" />
              </span>
              <span>Sincronizar permisos</span>
            </Link>
          </p>
        </div>
      </div>
    </BulmaLevelSearch>

    <div class="table-container">
      <Transition appear mode="out-in">
        <table class="table is-fullwidth is-hoverable is-striped">
          <thead>
            <tr>
              <th>Ruta</th>
              <th>Descripción</th>
              <th />
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="(permission, index) in permissions.data || []"
              :key="index"
            >
              <td>
                <a href="#" @click="showDetails(permission.id)">{{
                  permission.route_name
                }}</a>
              </td>
              <td>
                {{ permission.about }}
              </td>
              <td>
                <div class="buttons has-addons is-centered">
                  <BulmaButton
                    icon-left="fas fa-eye"
                    size="is-small"
                    @click="showDetails(permission.id)"
                  />
                </div>
              </td>
            </tr>

            <tr v-if="permissions.data.length === 0">
              <td class="has-text-centered" colspan="2">
                No existen registros.
              </td>
            </tr>
          </tbody>
        </table>
      </Transition>
    </div>
    <BulmaPagination v-bind="reactive(usePaginationData(permissions))" />
    <Teleport to="body">
      <ModalDetail />
    </Teleport>
  </BulmaAuthenticatedLayout>
</template>
