<script setup>
import { Head } from '@inertiajs/inertia-vue3'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaLevel from '@/Components/BLevel.vue'

defineProps({
  dashboardData: Object,
})
</script>

<template>
  <Head title="Tablero" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel lvl1icon="fas fa-tachometer-alt" lvl1crumb="Tablero" />
    </template>

    <div class="tile is-ancestor mt-3">
      <div class="tile is-parent">
        <Transition appear mode="out-in">
          <article
            class="
              tile
              is-child
              notification
              is-flex is-align-content-space-between is-primary
            "
          >
            <div class="content is-flex-grow-1">
              <p class="title">
                Usuarios
              </p>
              <p class="subtitle">
                {{ $page.props.dashboardData.countUsers }} Usuarios Registrados
              </p>
            </div>
            <div class="fa-3x fa-fw is-align-self-center">
              <span class="icon">
                <i class="fas fa-users" />
              </span>
            </div>
          </article>
        </Transition>
      </div>
    </div>
  </BulmaAuthenticatedLayout>
</template>
