<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import { ref } from 'vue'

const props = defineProps({
  canLogin: Boolean,
  canRegister: Boolean,
  laravelVersion: {
    type: String,
    default: ''
  },
  phpVersion: {
    type: String,
    default: ''
  },
  bulmaBadge: {
    type: String,
    default: ''
  },
})

const isOpen = ref(false)
const beating = ref(false)

const beat = () => {
  beating.value = true
  setTimeout(() => { beating.value = false }, 1500)
}
</script>

<template>
  <section class="hero is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io" target="_blank">
              <img
                :src="bulmaBadge"
                alt="Made with Bulma"
                width="128"
                height="24"
              >
            </a>
            <span
              class="navbar-burger"
              data-target="navbarMenuHeroA"
              :class="{ 'is-active': isOpen }"
              @click="isOpen = !isOpen"
            >
              <span />
              <span />
              <span />
            </span>
          </div>
          <div
            id="navbarMenuHeroA"
            class="navbar-menu"
            :class="{ 'is-active': isOpen }"
          >
            <div v-if="canLogin" class="navbar-end">
              <Link
                v-if="$page.props.auth.user"
                href="/dashboard"
                class="navbar-item"
              >
                Tablero
              </Link>

              <template v-else>
                <Link
                  v-if="canRegister"
                  :href="route('register')"
                  class="navbar-item"
                >
                  Regístrese
                </Link>
                <span class="navbar-item">
                  <Link
                    :href="route('login')"
                    class="button is-info is-inverted"
                    :class="{'heartBeat': beating}"
                    @click="beat"
                  >
                    <span class="icon">
                      <i class="fas fa-sign-in-alt" />
                    </span>
                    <span>Ingresar</span>
                  </Link>
                </span>
              </template>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <Transition appear mode="out-in">
        <div class="container has-text-centered">
          <p class="title">Mi Admin Usuarios</p>
          <p class="subtitle">Administrador de usuarios</p>
          <p class="subtitle">
            Proyecto de aprendizaje autodidacta construido con Laravel, Inertia
            + Vue 3, Bulma y PostgreSQL.
          </p>
        </div>
      </Transition>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <div class="content has-text-centered">
        <p>
          <strong>Mi Admin Usuarios</strong> por
          <a href="https://twitter.com/_kimael_">Maikel Carballo</a>. El código
          fuente tiene licencia
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          2021. Laravel v{{ laravelVersion }} (PHP v{{ phpVersion }})
        </p>
      </div>
    </div>
  </section>
</template>
