<template>
  <nav
    class="breadcrumb"
    :class="{
      'is-small': small,
      'is-medium': medium,
      'is-large': large,
      'is-centered': centered,
      'is-right': righted,
      'has-arrow-separator': arrows,
      'has-bullet-separator': bullets,
      'has-dot-separator': dots,
      'has-succeeds-separator': succeeds,
    }"
    aria-label="breadcrumbs"
  >
    <ul>
      <slot />
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    small: Boolean,
    medium: Boolean,
    large: Boolean,
    centered: Boolean,
    righted: Boolean,
    arrows: Boolean,
    bullets: Boolean,
    dots: Boolean,
    succeeds: Boolean,
  },
}
</script>
