<script setup>
import BulmaIcon from '@/Components/BIcon.vue'
import { useIconSize } from '@/Composables/icon'

const props = defineProps({
  color: {
    type: String,
    default: 'is-primary',
  },
  iconColor: String,
  iconLeft: String,
  iconRight: String,
  text: String,
  type: {
    type: String,
    default: 'button',
    validator: (value) => {
      return ['button', 'submit', 'reset'].includes(value)
    },
  },
  size: String,
  active: Boolean,
  focused: Boolean,
  fullwidth: Boolean,
  hovered: Boolean,
  inverted: Boolean,
  loading: Boolean,
  outlined: {
    type: Boolean,
    default: true
  },
  responsive: {
    type: Boolean,
    default: true
  },
  rounded: {
    type: Boolean,
    default: true
  },
  selected: Boolean,
})

const { iconSize } = useIconSize(props.size)
</script>

<template>
  <div class="control">
    <button
      :type="type"
      :class="[
        'button',
        size,
        color,
        {
          'heartBeat': loading,
          'is-active': active,
          'is-focused': focused,
          'is-fullwidth': fullwidth,
          'is-hovered': hovered,
          'is-inverted': inverted,
          'is-loading': loading,
          'is-outlined': outlined,
          'is-responsive': responsive,
          'is-rounded': rounded,
          'is-selected': selected,
        },
      ]"
    >
      <BulmaIcon
        v-if="iconLeft"
        :icon="iconLeft"
        :size="iconSize"
        :color="iconColor"
      />
      <span v-if="text">{{ text }}</span>
      <slot v-else />
      <BulmaIcon
        v-if="iconRight"
        :icon="iconRight"
        :size="iconSize"
        :color="iconColor"
      />
    </button>
  </div>
</template>
