<script setup>
import BulmaIcon from '@/Components/BIcon.vue'
import { useIconSize } from '@/Composables/icon'

const props = defineProps({
  size: String,
  text: String,
  iconLeft: String,
  iconRight: String,
  iconColor: String,
  rounded: {
    type: Boolean,
    default: true
  },
})

const { iconSize } = useIconSize(props.size)
</script>

<template>
  <div class="control">
    <a :class="['button is-static', size, { 'is-rounded': rounded }]">
      <BulmaIcon
        v-if="iconLeft"
        :icon="iconLeft"
        :size="iconSize"
        :color="iconColor"
      />
      <span v-if="text">{{ text }}</span>
      <BulmaIcon
        v-if="iconRight"
        :icon="iconRight"
        :size="iconSize"
        :color="iconColor"
      />
    </a>
  </div>
</template>
