<script setup>
import BulmaIcon from '@/Components/BIcon.vue'
import { useIconSize } from '@/Composables/icon'

const props = defineProps({
  icon: {
    type: String,
    default: 'fa-solid fa-save',
  },
  size: String,
  expanded: Boolean,
  active: Boolean,
  focused: Boolean,
  fullwidth: Boolean,
  hovered: Boolean,
  inverted: Boolean,
  loading: Boolean,
  outlined: {
    type: Boolean,
    default: true
  },
  responsive: {
    type: Boolean,
    default: true
  },
  rounded: {
    type: Boolean,
    default: true
  },
})

const { iconSize } = useIconSize(props.size)
</script>

<template>
  <div class="control">
    <button
      type="submit"
      :class="[
        'button',
        'is-success',
        size,
        {
          'heartBeat': loading,
          'is-active': active,
          'is-focused': focused,
          'is-fullwidth': fullwidth,
          'is-hovered': hovered,
          'is-inverted': inverted,
          'is-loading': loading,
          'is-outlined': outlined,
          'is-responsive': responsive,
          'is-rounded': rounded,
        },
      ]"
    >
      <BulmaIcon :icon="icon" :size="iconSize"/>
      <span>Guardar</span>
    </button>
  </div>
</template>
