<script setup>
defineProps({
  id: String,
  label: String,
  labelClasses: String,
  labelSize: {
    type: String,
    default: 'is-normal'
  },
})
</script>

<template>
  <div class="field is-horizontal">
    <div :class="['field-label', labelSize]">
      <label v-if="label" :for="id" :class="['label', labelClasses]">{{ label }}</label>
    </div>
    <div class="field-body">
      <slot />
    </div>
  </div>
</template>
