<script setup>
defineProps({
  id: String,
  label: String,
  labelClasses: String,
  labelSize: String,
  addons: Boolean,
  addonsCenter: Boolean,
  addonsRight: Boolean,
  expanded: Boolean,
  grouped: Boolean,
  groupedCenter: Boolean,
  groupedRight: Boolean,
  narrow: Boolean,
})
</script>

<template>
  <div
    :class="[
      'field',
      {
        'is-expanded': expanded,
        'is-narrow': narrow,
        'has-addons': addons,
        'has-addons has-addons-centered': addonsCenter,
        'has-addons has-addons-right': addonsRight,
        'is-grouped': grouped,
        'is-grouped is-grouped-centered': groupedCenter,
        'is-grouped is-grouped-right': groupedRight,
      },
    ]"
  >
    <label
      v-if="label"
      :for="id"
      :class="['label', labelSize, labelClasses]"
    >
      {{ label }}
    </label>

    <slot />
  </div>
</template>
