<script setup>
defineProps({
  icon: {
    type: String,
    default: 'fa-solid fa-exclamation-circle',
  },
  color: {
    type: String,
    default: 'has-text-danger'
  },
  size: String,
  left: Boolean,
  right: Boolean,
})
</script>

<template>
  <span :class="['icon', size, color, { 'is-left': left, 'is-right': right }]">
    <i :class="icon" />
  </span>
</template>
