<script setup>
defineProps({
  icon: {
    type: String,
    required: true,
  },
  size: String,
  color: String,
  left: Boolean,
  right: Boolean,
})
</script>

<template>
  <span :class="['icon', size, color, { 'is-left': left, 'is-right': right }]">
    <i :class="icon" />
  </span>
</template>
