<script>
export default {
  inheritAttrs: false,
}
</script>

<script setup>
import BulmaIcon from '@/Components/BIcon.vue'
import BulmaIconError from '@/Components/BIconError.vue'
import { onMounted, ref } from 'vue'
import { useIconSize } from '@/Composables/icon'

const props = defineProps({
  color: String,
  iconLeft: String,
  iconRight: String,
  error: String,
  modelValue: String,
  size: String,
  type: {
    type: String,
    default: 'text',
    validator: (value) => [
      'date',
      'datetime-local',
      'email',
      'month',
      'number',
      'password',
      'search',
      'tel',
      'text',
      'time',
      'url',
      'week',
    ].includes(value)
  },
  expanded: Boolean,
  focused: Boolean,
  hovered: Boolean,
  loading: Boolean,
  rounded: {
    type: Boolean,
    default: true,
  },
  isStatic: Boolean,
})

const input = ref(null)

const { iconSize } = useIconSize(props.size)

defineEmits(['update:modelValue'])

defineExpose({ focus: () => input.value.focus() })

onMounted(() => {
  if (input.value.hasAttribute('autofocus')) {
    input.value.focus()
  }
})
</script>

<template>
  <div
    :class="[
      'control',
      {
        'has-icons-left': iconLeft,
        'has-icons-right': iconRight || error,
        'is-expanded': expanded,
        size: loading,
        'is-loading': loading,
      }
    ]"
  >
    <input
      :type="type"
      ref="input"
      :class="[
        'input',
        size,
        color,
        {
          'is-danger': error,
          'is-focused': focused,
          'is-hovered': hovered,
          'is-rounded': rounded,
          'is-static': isStatic,
        }
      ]"
      v-bind="{ ...$attrs }"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    >
    <BulmaIcon v-if="iconLeft" :icon="iconLeft" left />
    <BulmaIconError v-if="error" :size="iconSize" right />
    <BulmaIcon v-if="iconRight" :icon="iconRight" :size="iconSize" right />
  </div>
</template>
