<script setup>
import { Inertia } from '@inertiajs/inertia'
import { Link, useForm } from '@inertiajs/inertia-vue3'
import { computed, ref, watch } from 'vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaButtonDelete from '@/Components/BButtonDelete.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaInput from '@/Components/BInput.vue'
import pickBy from 'lodash/pickBy'
import throttle from 'lodash/throttle'

const props = defineProps({
  filters: Object,
  from: {
    type: [Number, null],
    required: true,
  },
  to: {
    type: [Number, null],
    required: true,
  },
  total: {
    type: Number,
    required: true,
  },
  subject: {
    type: String,
    default: '',
  },
  routeCreate: {
    type: String,
    default: '',
  },
  routeIndex: {
    type: String,
    default: '',
  },
  modelValue: String,
})

const form = useForm({
  search: props.filters.search,
  trashed: props.filters.trashed,
})

const routeMain = computed(() => props.routeIndex.split('.')[0])

const beating = ref(false)

const beat = () => {
  beating.value = true
  setTimeout(() => beating.value = false, 1500)
}

const reset = () => form.reset()

watch(form,
  throttle(() => {
    Inertia.get(route(props.routeIndex), pickBy(form), {
      preserveState: true,
      only: [routeMain.value],
    })
  }, 150), {
    deep: true,
  }
)
</script>

<template>
  <nav class="level mt-5">
    <div class="level-left">
      <div class="level-item">
        <span v-if="from && to">
          {{ from }} a {{ to }} de <strong>{{ total }}</strong> {{ subject }}
        </span>
        <span v-else>
          <strong>{{ total }}</strong> {{ subject }}
        </span>
      </div>

      <div class="level-item is-hidden-tablet-only">
        <BulmaField addons>
          <BulmaInput
            id="search"
            class="is-info"
            v-model="form.search"
            placeholder="Buscar rápido"
          />
          <BulmaButton color="is-info">
            <BulmaButtonDelete @handle-delete="reset" size="is-large" />
          </BulmaButton>
        </BulmaField>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <div class="field">
          <p class="control">
            <button class="button is-rounded is-info is-outlined">
              <span class="icon is-small">
                <i class="fas fa-filter"></i>
              </span>
              <span>Buscar avanzado</span>
            </button>
          </p>
        </div>
      </div>

      <slot />

      <div v-if="routeCreate" class="level-item">
        <div class="field">
          <p class="control">
            <Link
              :href="route(routeCreate)"
              class="button is-rounded is-success is-outlined"
              :class="{'heartBeat': beating}"
              @click="beat"
            >
              <span class="icon is-small">
                <i class="fas fa-plus" />
              </span>
              <span>Nuevo</span>
            </Link>
          </p>
        </div>
      </div>
    </div>
  </nav>
</template>
