<template>
  <article class="message is-info">
    <div class="message-header">
      <slot name="header" />
      <button v-if="hasButton" class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <slot name="body" />
    </div>
  </article>
</template>

<script setup>
defineProps({
  hasButton: {
    type: Boolean,
    default: false,
  },
})
</script>
