<script setup>
defineProps({
  color: {
    type: String,
    default: '',
  },
  size: {
    type: String,
    default: '',
  },
  hasHeader: Boolean,
  dismissable: Boolean,
})
</script>

<template>
  <article class="message" :class="[color, size]">

    <div v-if="hasHeader" class="message-header">
      <slot name="header" />
      <button v-if="dismissable" :class="['delete', size]" aria-label="delete">
      </button>
    </div>
    <div class="message-body">
      <slot name="body" />
    </div>
  </article>
</template>
