<script setup>
import { ref, watch } from 'vue'
import { usePage } from '@inertiajs/inertia-vue3'
import BulmaDelete from '@/Components/BButtonDelete.vue'

const show = ref(true)

watch(usePage().props.value.flash, () => show.value = true, { deep: true, })
</script>

<template>
  <div v-if="$page.props.flash.success && show" class="notification is-success">
    <BulmaDelete @handle-delete="show = false" />
    <div v-html="$page.props.flash.success" />
  </div>
  <div v-if="$page.props.flash.error && show" class="notification is-danger">
    <BulmaDelete @handle-delete="show = false" />
    {{ $page.props.flash.error }}
  </div>
</template>
