<script setup>
const props = defineProps({
  hasErrors: Boolean,
  hasLinkSent: Boolean,
  status: String,
})
</script>

<template>
  <div v-if="hasErrors" class="notification is-danger">
    <strong>Por favor, corrija los campos resaltados.</strong>
  </div>

  <div v-if="hasLinkSent" class="notification">
    Se ha enviado un nuevo enlace de verificación
    <strong>
      a la dirección de correo electrónico que proporcionó durante el registro
    </strong>.
  </div>

  <div v-if="status" class="notification is-success">
    <strong>{{ status }}</strong>
  </div>
</template>
