<script>
export default {
  inheritAttrs: false,
}
</script>

<script setup>
import { computed } from 'vue'
import { useIconSize } from '@/Composables/icon'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaIcon from '@/Components/BIcon.vue'
import BulmaIconError from '@/Components/BIconError.vue'

const props = defineProps({
  iconLeft: String,
  id: String,
  color: String,
  modelValue: [String, Number, Boolean],
  error: String,
  size: String,
  errorApi: Boolean,
  expanded: Boolean,
  focused: Boolean,
  fullwidth: Boolean,
  hovered: Boolean,
  loading: Boolean,
  multiple: Boolean,
  rounded: {
    type: Boolean,
    default: true,
  },
})

const emit = defineEmits(['update:modelValue'])

const selected = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value)
})

const { iconSize } = useIconSize(props.size)
</script>

<template>
  <div
    :class="[
      'control',
      {
        'has-icons-left': error || errorApi,
        'is-expanded': expanded,
      },
    ]"
  >
    <div
      :class="[
        'select',
        color,
        size,
        {
          'is-danger': error || errorApi,
          'is-fullwidth': fullwidth,
          'is-loading': loading,
          'is-multiple': multiple,
          'is-rounded': rounded,
        }
      ]"
    >
      <select
        :class="{ 'is-hovered': hovered, 'is-focused':focused }"
        :id="id"
        ref="input"
        v-model="selected"
        v-bind="{ ...$attrs, class: null }"
      >
        <slot />
      </select>
    </div>

    <BulmaIcon v-if="iconLeft" :icon="iconLeft" :size="iconSize" left />
    <BulmaIconError v-if="error || errorApi" :size="iconSize" left />
  </div>
</template>
