<script setup>
import { ref } from 'vue'

const props = defineProps({
  leftLabel: {
    type: String,
    required: true,
    default: "Disponibles",
  },
  rightLabel: {
    type: String,
    required: true,
    default: "Seleccionados",
  },
  leftData: {
    type: Array,
    required: true,
  },
  rightData: {
    type: Array,
    required: true,
  },
})

const leftSelectedData = ref([])
const rightSelectedData = ref([])

const moveLeft = () => {
  if (!rightSelectedData.value.length) return;

  for (let i = rightSelectedData.value.length; i > 0; i--) {
    let idx = props.rightData.indexOf(rightSelectedData.value[i - 1]);

    props.rightData.splice(idx, 1);
    props.leftData.push(rightSelectedData.value[i - 1]);
    rightSelectedData.value.pop();
  }
}

const moveRight = () => {
  if (!leftSelectedData.value.length) return;

  for (let i = leftSelectedData.value.length; i > 0; i--) {
    let idx = props.leftData.indexOf(leftSelectedData.value[i - 1]);

    props.leftData.splice(idx, 1);
    props.rightData.push(leftSelectedData.value[i - 1]);
    leftSelectedData.value.pop();
  }
}
</script>

<template>
  <p class="subtitle is-5 mr-3">{{ leftLabel }}</p>
  <div class="field has-addons is-expanded">
    <div class="control">
      <div class="select is-multiple">
        <select
          multiple
          size="7"
          v-model="leftSelectedData"
          @dblclick="moveRight"
        >
          <option v-for="(item, index) in leftData" :key="index" :value="item">
            {{ item.about }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="buttons has-addons">
    <button type="button" class="button is-rounded" @click="moveLeft">
      <span class="icon is-small">
        <i class="fa-solid fa-chevron-circle-left"></i>
      </span>
    </button>
    <button type="button" class="button is-rounded" @click="moveRight">
      <span class="icon is-small">
        <i class="fa-solid fa-chevron-circle-right"></i>
      </span>
    </button>
  </div>

  <p class="subtitle is-5 mr-3">{{ rightLabel }}</p>
  <div class="field has-addons is-expanded">
    <div class="control">
      <div class="select is-multiple">
        <select
          multiple
          size="7"
          v-model="rightSelectedData"
          @dblclick="moveLeft"
        >
          <option v-for="(item, index) in rightData" :key="index" :value="item">
            {{ item.about }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>
