<script>
export default {
  inheritAttrs: false,
}
</script>

<script setup>
import { computed } from 'vue'

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  checked: {
    type: [Array, Boolean],
    default: false,
  },
  value: {
    default: null,
  },
  label: {
    type: String,
    default: '',
  },
  labelClass: {
    type: String,
    default: '',
  },
})

const emit = defineEmits(['update:checked'])

const proxyChecked = computed({
  get: () => props.checked,
  set: (val) => emit('update:checked', val),
})
</script>

<template>
  <div class="control">
    <input
      type="checkbox"
      class="switch is-rounded is-outlined"
      :class="this.$attrs.class"
      :id="id"
      :value="value"
      v-model="proxyChecked"
    />
    <label v-if="label" :for="id" :class="labelClass">{{ label }}</label>
    <label v-else :for="id" :class="labelClass">
      <slot />
    </label>
  </div>
</template>
