<script setup>
import { reactive, watch  } from 'vue'
import { Head, useForm } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'
import { useLevelPropsIndex, useLevelPropsSearch } from '@/Composables/level-data'
import { usePaginationData } from '@/Composables/pagination'
import { useUserAgentData } from '@/Composables/user-agent'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaIcon from '@/Components/BIcon.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaLevelSearch from '@/Components/BLevelSearch.vue'
import BulmaPagination from '@/Components/BPagination.vue'
import BulmaTag from '@/Components/BTag.vue'

defineProps({
  filters: Object,
  activities: Object,
})
</script>

<template>
  <Head title="Actividades" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsIndex('Activities'))" />
    </template>

    <BulmaLevelSearch
      :filters="filters"
      v-bind="reactive(useLevelPropsSearch(activities))"
      route-index="activities"
    />

    <div class="table-container">
      <Transition appear mode="out-in">
        <table class="table is-fullwidth is-hoverable is-striped">
          <thead>
            <tr>
              <th>Tiempo</th>
              <th>Descripción</th>
              <th>Usuario</th>
              <th>Método HTTP</th>
              <th>Ruta HTTP</th>
              <th>Dirección IP</th>
              <th>Agente de Usuario</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="activity in activities.data || []" :key="activity.id">
              <td>
                {{ activity.timeSince }}
              </td>
              <td>
                {{ activity.action }}
              </td>
              <td>
                {{ activity.user_name }}
              </td>
              <td>
                {{ activity.method_type }}
              </td>
              <td>
                {{ activity.http_route }}
              </td>
              <td>
                {{ activity.ip_address }}
              </td>
              <td>
                <BulmaIcon
                  :icon="reactive(useUserAgentData(activity.userAgentDetails)).platformIcon"
                />
                <BulmaIcon
                  :icon="reactive(useUserAgentData(activity.userAgentDetails)).browserIcon"
                />
                <BulmaTag
                  :tag="reactive(useUserAgentData(activity.userAgentDetails)).browserVersion"
                />
                <BulmaTag :tag="activity.langDetails" />
              </td>
            </tr>

            <tr v-if="activities.data.length === 0">
              <td class="has-text-centered" colspan="7">
                No existen registros.
              </td>
            </tr>
          </tbody>
        </table>
      </Transition>
    </div>
    <BulmaPagination v-bind="reactive(usePaginationData(activities))" />
  </BulmaAuthenticatedLayout>
</template>
