<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3'
import { reactive } from 'vue'
import { useLevelPropsEdit } from '@/Composables/level-data'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButtonSave from '@/Components/BButtonSave.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaFieldHorizontal from '@/Components/BFieldHorizontal.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaSelectDual from '@/Components/BSelectDual.vue'
import BulmaTextArea from '@/Components/BTextArea.vue'

const props = defineProps({
  errors: Object,
  role: Object,
  availablePermissions: Object,
})

const form = useForm({
  name: props.role.name,
  about: props.role.about,
  right_permissions: props.role.permissions,
})
const left_permissions = reactive(props.availablePermissions)

const submit = () => {
  form.put(route('roles.update', props.role.id), form)
}
</script>

<template>
  <Head title="Modificar Rol" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsEdit('Roles'))" />
    </template>

    <Transition appear mode="out-in">
      <form class="mt-6" novalidate @submit.prevent="submit">
        <BulmaFieldHorizontal label="Nombre" id="name">
          <BulmaField>
            <BulmaInput
              id="name"
              v-model="form.name"
              :error="errors.name"
              expanded
              required
              autocomplete="name"
              placeholder="Ejemplo: Analista"
            />
            <BulmaHelpError :message="errors.name" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal label="Descripción" id="about">
          <BulmaField>
            <BulmaTextArea
              id="about"
              v-model="form.about"
              :error="errors.about"
              placeholder="Breve definición/descripción."
            />
            <BulmaHelpError :message="errors.about" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <hr>

        <!-- PERMISOS -->
        <BulmaFieldHorizontal label="Permisos">
          <BulmaSelectDual
            left-label="Disponibles"
            right-label="Seleccionados"
            :left-data="left_permissions"
            :right-data="form.right_permissions"
          />
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaButtonSave :loading="form.processing" />
          </BulmaField>
        </BulmaFieldHorizontal>
      </form>
    </Transition>
  </BulmaAuthenticatedLayout>
</template>
