<script setup>
import { Head, useForm } from '@inertiajs/inertia-vue3'
import { reactive } from 'vue'
import { useLevelPropsCreate } from '@/Composables/level-data'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButtonSave from '@/Components/BButtonSave.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaFieldHorizontal from '@/Components/BFieldHorizontal.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaTextArea from '@/Components/BTextArea.vue'

defineProps({
  errors: Object,
})

const form = useForm({
  name: null,
  fa_icon: null,
  about: null,
})

const submit = () => {
  // eslint-disable-next-line no-undef
  form.post(route('genders.store'), form)
}
</script>

<template>
  <Head title="Nuevo Género Social" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsCreate('Genders'))" />
    </template>

    <Transition appear mode="out-in">
      <form class="mt-6" novalidate @submit.prevent="submit">
        <BulmaFieldHorizontal label="Nombre" id="name">
          <BulmaField>
            <BulmaInput
              id="name"
              v-model="form.name"
              :error="errors.name"
              expanded
              required
              autofocus
              autocomplete="name"
              placeholder="Ejemplo: Femenino"
            />
            <BulmaHelpError :message="errors.name" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal label="Ícono FontAwesome" id="fa_icon">
          <BulmaField>
            <BulmaInput
              id="fa_icon"
              v-model="form.fa_icon"
              :error="errors.fa_icon"
              expanded
              placeholder="Ejemplo: fas fa-venus-mars"
            />
            <BulmaHelpError :message="errors.fa_icon" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal label="Descripción" id="about">
          <BulmaField>
            <BulmaTextArea
              id="about"
              v-model="form.about"
              :error="errors.about"
              placeholder="Breve definición."
            />
            <BulmaHelpError :message="errors.about" />
          </BulmaField>
        </BulmaFieldHorizontal>

        <BulmaFieldHorizontal>
          <BulmaField>
            <BulmaButtonSave :loading="form.processing" />
          </BulmaField>
        </BulmaFieldHorizontal>
      </form>
    </Transition>
  </BulmaAuthenticatedLayout>
</template>
