<script setup>
import { Head } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'
import { reactive, ref  } from 'vue'
import { useLevelPropsIndex, useLevelPropsSearch } from '@/Composables/level-data'
import { usePaginationData } from '@/Composables/pagination'
import BulmaAuthenticatedLayout from '@/Layouts/TheAuthenticated.vue'
import BulmaButton from '@/Components/BButton.vue'
import BulmaLevel from '@/Components/BLevel.vue'
import BulmaLevelSearch from '@/Components/BLevelSearch.vue'
import BulmaPagination from '@/Components/BPagination.vue'
import ModalDestroy from './Destroy.vue'
import ModalDetail from './Show.vue'

defineProps({
  errors: Object,
  filters: Object,
  genders: Object,
})

const dataToDestroy = ref()
const showDestroyModal = ref(false)
const showDetails = (gender) => Inertia.get(`genders/${gender}`)
const goToEdit = (gender) => Inertia.get(`genders/${gender}/edit`)
</script>

<template>
  <Head title="Géneros Sociales" />

  <BulmaAuthenticatedLayout>
    <template #header>
      <BulmaLevel v-bind="reactive(useLevelPropsIndex('Genders'))" />
    </template>

    <BulmaLevelSearch
      :filters="filters"
      v-bind="reactive(useLevelPropsSearch(genders))"
      route-create="genders.create"
      route-index="genders.index"
    />

    <div class="table-container">
     <Transition appear mode="out-in">
      <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th />
          </tr>
        </thead>

        <tbody>
          <tr v-for="(gender, index) in genders.data || []" :key="index">
            <td>
              <a href="#" @click="showDetails(gender.id)">{{ gender.name }}</a>
            </td>
            <td>
              <div class="buttons has-addons is-centered">
                <BulmaButton
                  icon-left="fas fa-eye"
                  size="is-small"
                  @click="showDetails(gender.id)"
                />
                <BulmaButton
                  icon-left="fas fa-pen"
                  size="is-small"
                  @click="goToEdit(gender.id)"
                />
                <BulmaButton
                  icon-left="fas fa-trash"
                  size="is-small"
                  @click="(dataToDestroy = gender), (showDestroyModal = true)"
                />
              </div>
            </td>
          </tr>

          <tr v-if="genders.data.length === 0">
            <td class="has-text-centered" colspan="2">
              No existen registros.
            </td>
          </tr>
        </tbody>
      </table>
     </Transition>
    </div>
    <BulmaPagination v-bind="reactive(usePaginationData(genders))" />

    <Teleport to="body">
      <ModalDetail />
    </Teleport>

    <Teleport to="body">
      <ModalDestroy
        :show="showDestroyModal"
        :gender="dataToDestroy"
        @close="showDestroyModal = false"
      />
    </Teleport>
  </BulmaAuthenticatedLayout>
</template>
