<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import { ref } from 'vue'

const isOpen = ref(false)
const isClosed = ref(false)

const emit = defineEmits(['updateLayout'])

const handleLayout = (value) => emit('updateLayout', value)
</script>

<template>
  <aside id="main-sidebar" class="aside" :class="{ closed: isClosed }">
    <nav class="menu">
      <p class="menu-label">Inicio</p>
      <ul class="menu-list">
        <li>
          <Link
            href="/dashboard"
            :class="{ 'is-active': $page.url.startsWith('/dashboard') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-tachometer-alt"></i>
              </span>
              <span class="menu-text">Tablero</span>
            </span>
          </Link>
        </li>
      </ul>
      <p class="menu-label">Monitoreo</p>
      <ul class="menu-list">
        <li>
          <Link
            href="/activities"
            :class="{ 'is-active': $page.url.startsWith('/activities') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-file-medical-alt"></i>
              </span>
              <span class="menu-text">Actividades</span>
            </span>
          </Link>
        </li>
      </ul>
      <p class="menu-label">Aut.</p>
      <ul class="menu-list">
        <li>
          <Link
            href="/users"
            :class="{ 'is-active': $page.url.startsWith('/users') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-users"></i>
              </span>
              <span class="menu-text">Usuarios</span>
            </span>
          </Link>
        </li>
        <li>
          <Link
            href="/roles"
            :class="{ 'is-active': $page.url.startsWith('/roles') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-user-tag"></i>
              </span>
              <span class="menu-text">Roles</span>
            </span>
          </Link>
        </li>
      </ul>
      <p class="menu-label">Maestros</p>
      <ul class="menu-list">
        <li>
          <Link
            href="/permissions"
            :class="{ 'is-active': $page.url.startsWith('/permissions') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
              <span class="menu-text">Permisos</span>
            </span>
          </Link>
        </li>
        <li>
          <Link
            href="/genders"
            :class="{ 'is-active': $page.url.startsWith('/genders') }"
            ><span class="icon-text">
              <span class="icon">
                <i class="fas fa-venus-mars"></i>
              </span>
              <span class="menu-text">Géneros Sociales</span>
            </span>
          </Link>
        </li>
        <li>
          <Link
            href="/marital_statuses"
            :class="{ 'is-active': $page.url.startsWith('/marital_statuses') }"
          >
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-heart"></i>
              </span>
              <span class="menu-text">Estados Civiles</span>
            </span>
          </Link>
        </li>
        <li
          class="has-children"
          @click="isOpen = !isOpen"
          :class="{ open: isOpen }"
        >
          <a>
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-flag"></i>
              </span>
              <span class="menu-text">Venezuela</span>
            </span>
          </a>
          <ul>
            <li><Link href="#">Estados</Link></li>
            <li><Link href="#">Municipios</Link></li>
            <li><Link href="#">Parroquias</Link></li>
            <li><Link href="#">Ciudades</Link></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div
      id="sidebar-toggler"
      @click="(isClosed = !isClosed), handleLayout(isClosed)"
    >
      <span class="icon is-small"><i class="fa fa-angle-double-left"></i></span>
    </div>
  </aside>
</template>
