<script setup>
import { ref } from 'vue'
import BulmaNotificationFash from '@/Components/BNotificationFlash.vue'
import TheAsideBar from '@/Layouts/TheAuthenticatedAsideBar.vue'
import TheNavBar from '@/Layouts/TheAuthenticatedNavBar.vue'

const sidebarClosed = ref(false)

const resetLayout = (value) => sidebarClosed.value = value
</script>

<template>
  <TheNavBar />

  <div class="wrapper">
    <TheAsideBar @update-layout="resetLayout" />

    <main class="main" id="main" :class="{ 'sidebar--closed': sidebarClosed }">
      <header v-if="$slots.header">
        <BulmaNotificationFash />
        <slot name="header" />
      </header>

      <slot />
    </main>
  </div>
</template>
