<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import { ref } from 'vue'
import { usePage } from '@inertiajs/inertia-vue3'
import AppLogo from '@/Components/BLogo.vue'

const isOpen = ref(false)
const avatar = usePage().props.value.auth.user.avatar
const logo = usePage().props.value.logo
const beating = ref(false)

const beat = () => {
  beating.value = true

  setTimeout(() => {
    beating.value = false
  }, 1500)
}
</script>

<template>
  <header class="hero">
    <div class="hero-head">
      <nav
        class="navbar has-shadow"
        role="user actions"
        aria-label="user navigation"
      >
        <div class="navbar-brand">
          <Link class="navbar-item" :href="route('dashboard')">
            <AppLogo class="is-48x48" :src="logo" />
          </Link>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navMenu"
            @click="isOpen = !isOpen"
            :class="{ 'is-active': isOpen }"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': isOpen }">
          <div class="navbar-start">
            <div class="navbar-item">
              <div>
                <small>Mi Admin Usuarios</small>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <figure class="image is-32x32" style="margin-right: 0.5em">
                  <img :src="avatar" />
                </figure>
                {{ $page.props.auth.user.email }}
              </a>
              <div class="navbar-dropdown is-right">
                <a
                  class="navbar-item"
                  href="https://kimael-code.github.io/mi-portafolio/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <span class="icon-text">
                    <span class="icon">
                      <i class="far fa-user"></i>
                    </span>
                    <span
                      >Perfil
                      <span class="tag is-rounded is-info">WIP</span></span
                    >
                  </span>
                </a>
                <a class="navbar-item">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fas fa-clipboard-list"></i>
                    </span>
                    <span
                      >Mi Actividad
                      <span class="tag is-rounded is-info">WIP</span></span
                    >
                  </span>
                </a>
              </div>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <Link
                  class="button is-outlined is-link"
                  :href="route('logout')"
                  method="post"
                  as="button"
                  :class="{'heartBeat': beating}"
                  @click="beat"
                >
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>Salir</span>
                </Link>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</template>
