<template>
  <Transition appear mode="out-in">
    <div class="columns is-centered section is-medium">
      <div class="column is-one-third container">
        <div class="card has-background-dark">
          <div class="card-image is-flex is-justify-content-center">
            <Link href="/">
              <AppLogo class="is-64x64 mt-4" :src="logo" />
            </Link>
          </div>
          <div class="card-content has-background-dark">
            <div class="content">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </Transition>
</template>

<script setup>
import { Link } from '@inertiajs/inertia-vue3'
import { usePage } from '@inertiajs/inertia-vue3'
import AppLogo from '@/Components/BLogo.vue'

const logo = usePage().props.value.logo
</script>
