
<script setup>
import { computed } from 'vue'
import { Head, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaMessage from '@/Components/BMessage.vue'
import BulmaNotificationAuth from '@/Components/BNotificationAuth.vue'
import TheGuestLayout from '@/Layouts/TheGuest'

const props = defineProps({
  errors: Object,
})

const form = useForm({
  password: '',
})

const hasErrors = computed(() => Object.keys(props.errors).length > 0 )

const submit = () => {
  form.post(route('password.confirm'), {
    onFinish: () => form.reset(),
  })
}
</script>

<template>
  <TheGuestLayout>
    <Head title="Confirmar Contraseña" />

    <BulmaMessage color="is-info" has-header>
      <template #header>
        <p>Comprobación de Seguridad</p>
      </template>
      <template #body>
        Por favor, confirme su Contraseña antes de continuar.
      </template>
    </BulmaMessage>

    <BulmaNotificationAuth :has-errors="hasErrors" />

    <form novalidate @submit.prevent="submit">
      <BulmaField id="password" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          type="password"
          :error="errors.password"
          required
          autofocus
          autocomplete="current-password"
          icon-left="fas fa-lock"
        />
        <BulmaHelpError :message="errors.password" />
      </BulmaField>

      <BulmaField class="is-flex is-justify-content-end">
        <BulmaButton type="submit" :loading="form.processing" text="Confirmar" />
      </BulmaField>
    </form>
  </TheGuestLayout>
</template>
