
<script setup>
import { computed } from 'vue'
import { Head, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaMessage from '@/Components/BMessage.vue'
import BulmaNotificationAuth from '@/Components/BNotificationAuth.vue'
import TheGuestLayout from '@/Layouts/TheGuest'

const props = defineProps({
  errors: Object,
  status: String,
})

const form = useForm({
  email: '',
})

const hasErrors = computed(() => Object.keys(props.errors).length > 0 )

const submit = () => {
  form.post(route('password.email'))
}
</script>

<template>
  <TheGuestLayout>
    <Head title="Recuperar Contraseña" />

    <BulmaMessage color="is-info" has-header>
      <template #header>
        <p>¿Olvidó su Contraseña?</p>
      </template>
      <template #body>
        <p>
          No hay problema. Simplemente díganos su dirección de correo electrónico
          y le enviaremos un enlace de restablecimiento de contraseña que le
          permitirá elegir una nueva.
        </p>
      </template>
    </BulmaMessage>

    <BulmaNotificationAuth :status="status" />

    <BulmaNotificationAuth :has-errors="hasErrors" />

    <form novalidate @submit.prevent="submit">
      <BulmaField id="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          v-model="form.email"
          tyep="email"
          :error="errors.email"
          required
          autofocus
          autocomplete="username"
          icon-left="fas fa-at"
        />
        <BulmaHelpError :message="errors.email" />
      </BulmaField>

      <BulmaField class="is-flex is-justify-content-center">
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Enviar Enlace de Restablecimiento"
        />
      </BulmaField>
    </form>
  </TheGuestLayout>
</template>
