<script setup>
import { computed } from 'vue'
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaNotificationAuth from '@/Components/BNotificationAuth.vue'
import BulmaSwitch from '@/Components/BSwitch.vue'
import TheGuestLayout from '@/Layouts/TheGuest'

const props = defineProps({
  canResetPassword: Boolean,
  errors: Object,
  status: String,
})

const form = useForm({
  email: '',
  password: '',
  remember: false,
})
const hasErrors = computed(() => Object.keys(props.errors).length > 0 )

const submit = () => {
  form
    .transform((data) => ({
      ...data,
      remember: form.remember ? 'on' : '',
    }))
    .post(route('login'), {
      onFinish: () => form.reset('password'),
    })
}
</script>

<template>
  <TheGuestLayout>
    <Head title="Iniciar Sesión" />

    <BulmaNotificationAuth :has-errors="hasErrors" />

    <BulmaNotificationAuth :status="status" />

    <form novalidate @submit.prevent="submit">
      <BulmaField id="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          v-model="form.email"
          :error="errors.email"
          type="email"
          required
          autofocus
          autocomplete="username"
          icon-left="fas fa-at"
        />
        <BulmaHelpError :message="errors.email" />
      </BulmaField>

      <BulmaField id="passsword" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          :error="errors.password"
          type="password"
          required
          autocomplete="current-password"
          icon-left="fas fa-lock"
        />
        <BulmaHelpError :message="errors.password" />
      </BulmaField>

      <BulmaField>
        <BulmaSwitch
          id="remember"
          v-model:checked="form.remember"
          class="is-info"
          label="Recuérdame"
          label-class="has-text-info"
        />
      </BulmaField>

      <div class="is-flex is-justify-content-flex-end mb-4">
        <Link v-if="canResetPassword" :href="route('password.request')">
          ¿Olvidó su contraseña?
        </Link>
      </div>

      <BulmaField>
        <BulmaButton type="submit" :loading="form.processing" text="Ingresar" />
      </BulmaField>
    </form>
  </TheGuestLayout>
</template>
