

<script setup>
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaNotificationAuth from '@/Components/BNotificationAuth.vue'
import TheGuestLayout from '@/Layouts/TheGuest'

const props = defineProps({
  errors: Object,
})

const form = useForm({
  name: '',
  email: '',
  password: '',
  password_confirmation: '',
  terms: false,
})

const hasErrors = computed(() => Object.keys(props.errors).length > 0 )

const submit = () => {
  form.post(route('register'), {
    onFinish: () => form.reset('password', 'password_confirmation'),
  })
}
</script>

<template>
  <TheGuestLayout>
    <Head title="Registrarse" />

    <BulmaNotificationAuth :has-errors="hasErrors" />

    <form novalidate @submit.prevent="submit">
      <BulmaField id="name" label="Nombres">
        <BulmaInput
          id="name"
          v-model="form.name"
          :error="errors.name"
          type="text"
          required
          autofocus
          autocomplete="name"
          icon-left="fas fa-user"
        />
        <BulmaHelpError :message="errors.name" />
      </BulmaField>

      <BulmaField id="email" lavel="Correo Electrónico">
        <BulmaInput
          id="email"
          :class="{ 'is-danger': errors.email }"
          v-model="form.email"
          :error="errors.email"
          type="email"
          required
          autocomplete="email"
          icon-left="fas fa-at"
        />
        <BulmaHelpError :message="errors.email" />
      </BulmaField>

      <BulmaField id="password" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          :error="errors.password"
          type="password"
          required
          autocomplete="new-password"
          icon-left="fas fa-lock"
        />
        <BulmaHelpError :message="errors.password" />
      </BulmaField>

      <BulmaField id="password_confirmation" label="Confirme Contraseña">
        <BulmaInput
          id="password_confirmation"
          v-model="form.password_confirmation"
          :error="errors.password_confirmation"
          type="password"
          required
          autocomplete="new-password"
          icon-left="fas fa-lock"
        />
        <BulmaHelpError :message="errors.password_confirmation" />
      </BulmaField>

      <div class="is-flex is-justify-content-flex-end mb-4">
        <Link :href="route('login')"> ¿Ya está registrado? </Link>
      </div>

      <BulmaField>
        <BulmaButton type="submit" :loading="form.processing" text="Registrar" />
      </BulmaField>
    </form>
  </TheGuestLayout>
</template>
