<script setup>
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaHelpError from '@/Components/BHelpTextDanger.vue'
import BulmaInput from '@/Components/BInput.vue'
import BulmaNotificationAuth from '@/Components/BNotificationAuth.vue'
import TheGuestLayout from '@/Layouts/TheGuest'
import { Head, useForm } from '@inertiajs/inertia-vue3'

const props = defineProps({
  email: String,
  errors: Object,
  token: String,
})

const form = useForm({
  token: props.token,
  email: props.email,
  password: '',
  password_confirmation: '',
})

const hasErrors = computed(() => Object.keys(props.errors).length > 0 )

const submit = () => {
  form.post(route('password.update'), {
    onFinish: () => form.reset('password', 'password_confirmation'),
  })
}
</script>

<template>
  <TheGuestLayout>
    <Head title="Restablecer Contraseña" />

    <BulmaNotificationAuth :has-errors="hasErrors" />

    <form novalidate @submit.prevent="submit">
      <BulmaField id="email" label="Correo Electrónico">
        <BulmaInput
          id="email"
          v-model="form.email"
          type="email"
          :error="errors.email"
          required
          autofocus
          autocomplete="username"
        />
        <BulmaHelpError :message="errors.email" />
      </BulmaField>

      <BulmaField id="password" label="Contraseña">
        <BulmaInput
          id="password"
          v-model="form.password"
          type="password"
          :error="errors.password"
          required
          autocomplete="new-password"
        />
        <BulmaHelpError :message="errors.password" />
      </BulmaField>

      <BulmaField id="password_confirmation" label="Confirme Contraseña">
        <BulmaInput
          id="password_confirmation"
          v-model="form.password_confirmation"
          type="password"
          :error="errors.password_confirmation"
          required
          autocomplete="new-password"
        />
        <BulmaHelpError :message="errors.password_confirmation" />
      </BulmaField>

      <BulmaField class="is-flex is-justify-content-center">
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Restablecer Contraseña"
        />
      </BulmaField>
    </form>
  </TheGuestLayout>
</template>
