<script setup>
import { computed } from 'vue'
import { Head, Link, useForm } from '@inertiajs/inertia-vue3'
import BulmaButton from '@/Components/BButton.vue'
import BulmaField from '@/Components/BField.vue'
import BulmaMessage from '@/Components/BMessage.vue'
import BulmaNotificationAuth from '@/Components/BNotificationAuth.vue'
import TheGuestLayout from '@/Layouts/TheGuest'

const props = defineProps({
  status: String,
})

const form = useForm({})

const verificationLinkSent = computed(() => props.status === 'verification-link-sent' )

const submit = () => {
  form.post(route('verification.send'))
}
</script>

<template>
  <TheGuestLayout>
    <Head title="Verificar Coreo Electrónico" />

    <BulmaMessage color="is-info">
      <template #header>
        <p>¡Gracias por registrarse!</p>
      </template>
      <template #body>
        <p>
          Antes de comenzar, ¿podría verificar su dirección de correo electrónico
          haciendo clic en el enlace que le acabamos de enviar?.
          <em>
            Si no recibió el correo electrónico, con gusto le enviaremos otro
          </em>.
        </p>
      </template>
    </BulmaMessage>

    <BulmaNotificationAuth :has-link-sent="verificationLinkSent" />

    <form @submit.prevent="submit">
      <BulmaField grouped>
        <BulmaButton
          type="submit"
          :loading="form.processing"
          text="Reenviar Enlace"
        />
        <div class="control">
          <Link
            :href="route('logout')"
            method="post"
            as="button"
            class="button is-info is-outlined is-rounded"
          >
            Salir
          </Link>
        </div>
      </BulmaField>
    </form>
  </TheGuestLayout>
</template>

